@import "./global_fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*
    temporary colorscheme:
    https://coolors.co/171a21-2a3e4c-5f9ca5-aad3e2-daeaf1
    */
    --background: #daeaf1;
    --foreground: #171a21;
    --primary: #2a3e4c;
    --secondary: #5f9ca5;
    --tertiary: #aad3e2;
}

/* Disable dark mode for now */
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
*/

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Manrope", "Inter", Arial, Helvetica, sans-serif;
}
