@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* temporary colorscheme */
    --background: #f5efe7;
    --foreground: #0a0a0a;
    --primary: #213555;
    --secondary: #3e5879;
    --tertiary: #d8c4b6;
}

/* Disable dark mode for now */
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
*/

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
